.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  border:1px solid white;
}
hr{
  height: 1px;
            background-color: rgb(223, 216, 216);
            border: none;
}
.p-link{
  margin-left: 63px;
  text-decoration-color: rgb(37, 36, 36);
  color: rgb(37, 36, 36);
}
#poster-img{
  width: 100%;
  height:450px;
  position: relative;
  
}
.container1{
  position: relative;
  margin-bottom: 1px;
}
.t1{
  position: absolute;
  top: 10px;
  color: white;
  text-align: left;
  margin-left: 50px;
}
.t1-h1{
 font-size: 40px;
}
.t1-h2{
  font-size: 20px;
}
#cr{
  filter: brightness(1.7);
}
.p-body{
  display: inline-flex;
}
.left-body 
{
  text-align: left;
  margin-left: 50px;
}
.right-body {
  text-align: left;
  margin-left: 80px;
  margin-top: 17px;
}
#c1{
  border: 1px solid white;
  font-size: 15px;
  font-weight: 600;
  background-color:rgb(247, 243, 243);
  border-radius: 1px;
  height: 25px;
  
}
.about{
  background-color: gainsboro;
  width: 325px;
  border-radius: 1px;
  padding:10px;
  
}
.right-h {
  font-size: 20px;
  font-weight: 30px;
}

.footer{
  margin-top: 100px;
  margin-bottom: 30px;
}
#foot-1{
  font-size: 18px;
}
#foot-2{
  margin-top: 15px;
  color: rgb(203, 195, 195);
}
footer a {
  color:rgb(203, 195, 195) ;
}